## First part from https://github.com/github/gitignore/blob/master/SugarCRM.gitignore
# Ignore custom .htaccess stuff.
/.htaccess
/web.config

# Ignore directories
cache/*
upload/*
!upload/index.html

# Custom
custom/application/Ext/*
custom/blowfish/*
custom/modulebuilder/*
custom/modules/unified_search_modules_display.php
custom/modules/*/Ext/*
custom/history/*
custom/working/*

# Ignore AOD indexes
modules/AOD_Index/Index/*

# Configuration files should be ignored.
/config.php
/config_override.php
/config_si.php

# Connector configuration should also be ignored.
custom/modules/Connectors/connectors/sources/ext/*/*/config.php
# Logs files can safely be ignored.
*.log

## IDE specific items
.idea/

#Ignore composer vendor folder
vendor/

#IMP/MEKIT SPECIFIC
.SyncConfig/
config/database.yml
manifest.php
install/status.json
