/* STRUCTURE / DEFAULT*/
/**********************************************************************************************************************/
/* STRUCTURE (structure.less) */
/**********************************************************************************************************************/
body {
  font-size: 11px;
}
select[name="display_tabs[]"],
select[name="hide_tabs[]"] {
  height: 500px;
}
#bootstrap-container {
  background: #fff;
}
#buttontoggle {
  bottom: 0;
  top: auto;
}
.dropdown-menu {
  border-top: none;
  margin-top: 2px;
}
.sidebar {
  background: #efefef;
  border-right: 1px solid #dadada;
}
li.topnav {
  padding: 15px 0;
}
/* Button */
.button,
input[type=submit],
input[type=button] {
  background: #e2eaf3;
  color: #2a5995;
}
/* Titolo scheda */
.moduleTitle h2 {
  font-size: 18px;
}
#pagecontent {
  font-size: 12px;
}
/**********************************************************************************************************************/
/* INDEX VIEW (indexView.less) */
/**********************************************************************************************************************/
/*SEARCH FORMS*/
.search.basic {
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
}
.search.advanced {
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
}
/* LIST TABLE */
table.list.view thead tr {
  background-color: #e2eaf3;
  color: #2a5995;
}
table.list.view thead tr th {
  background-color: #e2eaf3;
  color: #2a5995;
}
table.list.view thead tr th a {
  color: #2a5995;
  font-weight: bold;
}
table.list.view thead tr#pagination {
  background-color: white;
}
table.list.view thead tr#pagination td table.paginationTable th,
table.list.view thead tr#pagination td table.paginationTable td {
  background-color: white;
  color: #444444;
}
table.list.view thead tr#pagination td table.paginationTable th a,
table.list.view thead tr#pagination td table.paginationTable td a {
  color: #444444;
}
/* SUBPANELS */
ul#subpanel_list li.noBullet {
  border-top: 1px solid #ababab;
}
ul#subpanel_list li.noBullet table.formHeader td {
  background-color: #448fce;
  padding: 10px 5px 2px 11px;
}
/* MASS ASSIGN */
#massassign_form {
  margin-top: 20px;
  border: 1px solid #ababab;
}
/**********************************************************************************************************************/
/* DETAILS VIEW (detailsView.less) */
/**********************************************************************************************************************/
.yui-navset .yui-nav,
.yui-navset .yui-navset-top .yui-nav {
  overflow: hidden;
}
/**********************************************************************************************************************/
/* EDIT VIEW (editView.less) */
/**********************************************************************************************************************/
/*MODULE SPECIFIC*/
/**********************************************************************************************************************/
/* PROFILE (profile.less) */
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/* EMAILS (emails.less) */
/**********************************************************************************************************************/
.email #dt-pag-nav .pagination {
  margin: 0 0 10px 0;
}
.email #dt-pag-nav .pagination .button {
  padding: 0 5px;
  margin: 0 5px;
}
.email #dt-pag-nav .pagination .paginator-start,
.email #dt-pag-nav .pagination .paginator-end,
.email #dt-pag-nav .pagination .paginator-previous,
.email #dt-pag-nav .pagination .paginator-next {
  width: 47px;
  height: 22px;
  background-position: center center;
}
.email #dt-pag-nav .pagination .yui-pg-pages {
  margin: 0;
  padding: 0;
}
.email #dt-pag-nav .pagination .yui-pg-pages .yui-pg-page {
  margin: 0;
  padding: 5px;
}
